.header {
    width:100%;
    display:flex;
    justify-content: space-between;
    align-items: center;
    padding:0;
    margin:15px;
}
.logo {
    margin-right:auto;
    height:100px;
    width:auto;
    padding:1%;
    display: flex;
    align-items: center;
}
.navBar {
    padding:1%;
    text-align: right;

}
.menu {
    display:flex;
    list-style:none;
    margin-right:30px;
    font-size:24px;
}
.menu li {
    margin-left: 24px;
}
.intro {
    display:flex;
    flex-direction: column;
    justify-content: center;
    font-size: 18px;
    margin-left:30px;
    margin-right: 30px;
}
.hello {
    font-size: 50px;
}
.headshot {
    height: auto;
    width:40%;
    align-self: center;
    margin-top: 50px;
    margin-bottom: 50px;
}
.arrowDown {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content:center;
    position: relative;
    margin-top: 70px;
    margin-bottom: 70px;

}
.titleHeader {
    text-align: center;
    font-size: 24px;
}
.aboutPage {
    font-size: 18px;
    margin:30px;

}
.vacation {
    width:100%;
    height:auto;
    align-self:center;
    margin-top: 50px;
    margin-bottom: 50px;
}
#altText {
    text-align: center;
    margin-top: 10px;
    margin-bottom: 50px;
}
.workspace {
    width:100%;
    height: auto;
    align-self: center;
    margin-top: 50px;
    margin-bottom: 600px;
}
.straightLine {
    display:flex;
    align-items: center;
    justify-content: center;
    width: 50%;
    height:100%;
}

.socialMedia {
    margin-left: 80%; 
    margin-top:0% ;
    margin-bottom: 100px;
}
.titleFooter {
    font-size: 40px;
    margin-top: 100px;
}
.projectsLogo {
    width:95%;
    height:auto;
    align-self:center;
    margin-top: 100px;
    margin-bottom: 50px;
    margin:30px;
}
.flexContainer {
    display:inline-block;
    align-items: center;
    justify-content: space-between;
    margin:30px;

}
.canDoC {
    display:flex;
}
.mobileCanDo {
    display: flex;
    margin: 30px;
    margin-top: 100px;
}